In [ ]:
# 행렬 연산
import numpy as np

# 데이터 구성
import pandas as pd

# 데이터 시각화
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

# 데이터 분할: train, test
from sklearn.model_selection import train_test_split

# Scaling 클래스
from sklearn.preprocessing import StandardScaler

# 로지스틱 회귀
import statsmodels.api as sm
from statsmodels.api import Logit 

# 분류 Decision Tree
from sklearn.tree import DecisionTreeClassifier

# 분류 Random Forest
from sklearn.ensemble import RandomForestClassifier

# 분류 Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

# 최적 모델, 파라미터 탐색
from sklearn.model_selection import GridSearchCV

# export_graphviz: 나무 구조 생성 및 저장
from sklearn.tree import export_graphviz

# graphviz : 나무 구조 시각화 (.dot 확장자 파일 불러오기 등)
import graphviz

# 분류 모델 평가 함수
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report

# 카이제곱검정
from scipy import stats
from scipy.stats import chi2_contingency

import statsmodels.formula.api as smf

from tqdm import tqdm

In [ ]:
# 데이터 구성하기
df_member = pd.read_csv('C:/Users/Administrator/Desktop/A2_유아용품/member_휴면계정.csv')
df_member

In [ ]:
# 데이터 구성하기
df_sales = pd.read_csv('C:/Users/Administrator/Desktop/A2_유아용품/Sales_data.csv')
df_sales

# **객단가**

In [ ]:
# 고객 당 1회 결제 금액
df_member['회당 결제금액'] = df_member['총결제금액'] / df_member['구매횟수'].round(0)
df_member

,고객번호,성별,결혼유무,거주지역,연령,결제등록카드,유입경로,자녀여부,배송리드타임,구매횟수,재구매횟수,총구매금액,총결제금액,최종구매일,휴면지속날짜,휴면계정여부,회당 결제금액
0,201812310749735,여,기혼,인천,37.0,국민은행,인스타그램,Yes,8.0,2,1,77000,54083,2020-02-20,169,True,27041.5
1,201812310749770,여,기혼,제주,33.0,국민은행,검색광고,Yes,5.0,1,0,5610,3800,2019-02-28,526,True,3800.0
2,201812310749771,여,기혼,부산,32.0,하나은행,네이버블로그,Yes,3.0,1,0,59520,47922,2019-05-13,452,True,47922.0
3,201812310749774,여,미혼,경남,34.0,기업은행,지인추천,No,7.0,2,1,151920,116532,2019-07-29,375,True,58266.0
4,201812310749780,여,기혼,서울,32.0,신한은행,직접검색,Yes,3.0,1,0,27920,19900,2019-01-30,555,True,19900.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
67318,201912291058164,여,기혼,경기,31.0,국민은행,오픈마켓,Yes,3.0,1,0,48900,25778,2020-06-01,67,False,25778.0
67319,201912291058167,여,기혼,경남,37.0,롯데카드,오픈마켓,Yes,6.0,2,1,124200,99893,2020-04-19,110,False,49946.5
67320,201912291058168,여,기혼,충북,26.0,삼성카드,검색광고,Yes,14.0,4,3,211940,163234,2020-07-18,20,False,40808.5
67321,201912291058169,여,기혼,경기,32.0,새마을금고,인스타그램,Yes,3.0,1,0,51000,36579,2019-12-29,222,True,36579.0
67322,201912291058171,여,기혼,서울,35.0,새마을금고,인스타그램,Yes,3.0,1,0,4900,4851,2020-05-15,84,False,4851.0

In [ ]:
# df_member.dropna(inplace=True)
# df_member
# df_member.to_csv('member_최근구매일.csv', encoding='utf-8-sig')

In [ ]:
# 총매출
total_sales = df_member['총구매금액'].sum()
total_sales_i = int(total_sales)
print(f'{total_sales_i}원')

5406770190원

In [ ]:
# 총구매고객수
total_customer =  df_member['구매횟수'].sum()
print(total_customer,'명')

174388 명

In [ ]:
# 객단가 (매출 ÷ 구매 고객 수)
# 쇼핑몰에 방문한 고객 1명의 평균 구매 금액
print((total_sales / total_customer).round(1),'원')

31004.3 원

In [ ]:
# csv로 저장
df_member.to_csv('member_객단가.csv', encoding='utf-8-sig')