In [ ]:
# 행렬 연산
import numpy as np

# 데이터 구성
import pandas as pd

# 데이터 시각화
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

# 데이터 분할: train, test
from sklearn.model_selection import train_test_split

# Scaling 클래스
from sklearn.preprocessing import StandardScaler

# 로지스틱 회귀
import statsmodels.api as sm
from statsmodels.api import Logit 

# 분류 Decision Tree
from sklearn.tree import DecisionTreeClassifier

# 분류 Random Forest
from sklearn.ensemble import RandomForestClassifier

# 분류 Gradient Boosting
from sklearn.ensemble import GradientBoostingClassifier

# 최적 모델, 파라미터 탐색
from sklearn.model_selection import GridSearchCV

# export_graphviz: 나무 구조 생성 및 저장
from sklearn.tree import export_graphviz

# graphviz : 나무 구조 시각화 (.dot 확장자 파일 불러오기 등)
import graphviz

# 분류 모델 평가 함수
from sklearn.metrics import accuracy_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report

# 카이제곱검정
from scipy import stats
from scipy.stats import chi2_contingency

import statsmodels.formula.api as smf

from tqdm import tqdm

# 연관규칙분석

In [ ]:
#데이터 구성 : Series, DataFrame
import pandas as pd
#행렬 연산
import numpy as np
#데이터 전처리:항목 값에 대한 index 생성
from mlxtend.preprocessing import TransactionEncoder
#지지도 계산
from mlxtend.frequent_patterns import apriori
#연관규칙
from mlxtend.frequent_patterns import association_rules

In [ ]:
! pip install mlxtend

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.14.0)
Requirement already satisfied: scipy>=0.17 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.10.4 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: pandas>=0.17.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=0.18 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: matplotlib>=1.5.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=1.5.1->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=1.5.1->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.17.1->mlxtend) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=1.5.1->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (3.1.0)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=0.18->mlxtend) (1.1.0)

In [ ]:
import matplotlib
matplotlib.rc('font',family = 'Malgun Gothic')  #윈도우 한글명령어
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False

In [ ]:
df_customer = pd.read_csv('/content/고객번호_구매일별 구매 상품.csv', index_col=0)
df_customer

/usr/local/lib/python3.7/dist-packages/IPython/core/interactiveshell.py:3326: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,구매일,고객번호,단순상품명,key
0,2019-05-06,201812310749735,더블하트_수유용품,2019-05-06_201812310749735
1,2020-02-20,201812310749735,하기스_기저귀,2020-02-20_201812310749735
2,2019-02-28,201812310749770,크리넥스_휴지/티슈,2019-02-28_201812310749770
3,2019-05-13,201812310749771,하기스_기저귀,2019-05-13_201812310749771
4,2019-05-10,201812310749774,하기스_기저귀,2019-05-13_201812310749771
...,...,...,...,...
178290,2020-07-24,20200724113017300000,크리넥스_키친타올/행주,2019-10-11_201910040997340
178291,2020-07-29,20200729134409100000,맘큐_기저귀,2020-07-23_201910040997340
178292,2020-08-03,20200803075905700000,하기스_기저귀,2019-10-04_201910040997348
178293,2020-08-06,20200805170229100000,맘큐_기저귀,2019-11-18_201910040997349
178294,2020-08-06,20200805223526400000,먼치킨_수유용품,2019-11-18_201910040997349

In [ ]:
df_customer.isnull().sum()

구매일        0
고객번호       0
단순상품명    481
key        0
dtype: int64

In [ ]:
df_customer.dropna(inplace=True)

In [ ]:
df_customer

,구매일,고객번호,단순상품명,key
0,2019-05-06,201812310749735,더블하트_수유용품,2019-05-06_201812310749735
1,2020-02-20,201812310749735,하기스_기저귀,2020-02-20_201812310749735
2,2019-02-28,201812310749770,크리넥스_휴지/티슈,2019-02-28_201812310749770
3,2019-05-13,201812310749771,하기스_기저귀,2019-05-13_201812310749771
4,2019-05-10,201812310749774,하기스_기저귀,2019-05-13_201812310749771
...,...,...,...,...
178290,2020-07-24,20200724113017300000,크리넥스_키친타올/행주,2019-10-11_201910040997340
178291,2020-07-29,20200729134409100000,맘큐_기저귀,2020-07-23_201910040997340
178292,2020-08-03,20200803075905700000,하기스_기저귀,2019-10-04_201910040997348
178293,2020-08-06,20200805170229100000,맘큐_기저귀,2019-11-18_201910040997349
178294,2020-08-06,20200805223526400000,먼치킨_수유용품,2019-11-18_201910040997349

In [ ]:
# 고객 ID 리스트 생성 및 정렬
ID = list(set(df_customer['고객번호']))
ID.sort()

In [ ]:
# 고객 ID별 상품 매칭
list_association = []
for i in ID:
    #ID별 구매 데이터 추출
    tmp_list = list(df_customer[df_customer['고객번호']==i]['단순상품명'])
    tmp_list.sort()
    #ID별 구매 데이터를 리스트에 담기
    list_association.append(tmp_list)
    
#리스트 출력
# for row in list_association:
#     print(row)

In [ ]:
# Items 기준으로 포함 여부에 따라 True/False로 변환
enc = TransactionEncoder()
df_raw_enc = enc.fit_transform(X = list_association)

# 함수 fit_trasform 는 데이터를 행렬의 형태로 반환, pandas의 DataFrame의 형태로 변환
df_asso = pd.DataFrame(df_raw_enc, columns = enc.columns_)
df_asso.head()

In [ ]:
#규칙 선택 최소 지지도
v_min_support = 0.4

#연관규칙 생성 및 지지도 임계값 적용
# df_freq = apriori(df_asso, min_support = 0.5, use_colnames = True) #직접입력
df_freq = apriori(df_asso, min_support = v_min_support, use_colnames = True)

#itemssets 항목 갯수별 확인: 부분선택
df_freq[9:16].round(3)

In [ ]:
#연관규칙 선택 및 해석
#신뢰도 기준:confidence
df_asso_rule = association_rules(df_freq, metric='confidence',min_threshold = 0.7)
df_asso_rule.round(3)

#향상도 기준 : lift
df_asso_rule = association_rules(df_freq, metric = 'lift', min_threshold = 1.3)
df_asso_rule.round(3)