In [13]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns


matplotlib.rcParams['font.family'] ='Malgun Gothic'
matplotlib.rcParams['axes.unicode_minus'] =False


from sklearn.preprocessing import StandardScaler # Scale 변환 -> 표준화 회귀계수 산출
from sklearn.model_selection import train_test_split

import copy
import missingno as msno
import datetime as dt
from dateutil.parser import parse

from tqdm import tqdm

from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori, association_rules

In [6]:
df_transaction = pd.read_csv('./transaction.csv', encoding='utf-8')
df_transaction.head()

C:\Users\insea\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3072: DtypeWarning: Columns (2) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,Unnamed: 0,구매일,고객번호,단순상품명,key
0,0,2019-05-06,201812310749735,더블하트_수유용품,2019-05-06_201812310749735
1,1,2020-02-20,201812310749735,하기스_기저귀,2020-02-20_201812310749735
2,2,2019-02-28,201812310749770,크리넥스_휴지/티슈,2019-02-28_201812310749770
3,3,2019-05-13,201812310749771,하기스_기저귀,2019-05-13_201812310749771
4,4,2019-05-10,201812310749774,하기스_기저귀,2019-05-13_201812310749771

In [16]:
transaction_list = list(df_transaction.groupby('key')['단순상품명'].apply(list))

In [14]:
te = TransactionEncoder()
te_ary = te.fit(transaction_list).transform(transaction_list)
df = pd.DataFrame(te_ary, columns=te.columns_)

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
for item in transaction:
    unique_items.add(item)
self.columns_ = sorted(unique_items)